<div class="index-container">

  <div class="beer-img">
    <img src="/images/beer.png" alt="">
  </div>
  <div class="beer-check">
<button type="button" class="btn btn-primary" onclick="/views/beers.hbs" >Check the Beers!</button>
  </div>
  <div class="random-check">
<button type="button" class="btn btn-primary" onclick="/random-beers">Check the Random Beers!</button>
  </div>

</div>
